<html>
<head>
	<title>About Us</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
		body{
		/* background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://st.depositphotos.com/3930503/59660/i/450/depositphotos_596607468-stock-photo-light-blue-gradient-background-blue.jpg");
			background-repeat:no-repeat;
			background-position: center;
			background-size: cover; */
			font-family: 'Cinzel', serif;	
			}
			.container{
				background-color: #ded7ec;
				margin:10%;
				border: 2px solid black;
			}
		h1{
			/* background-color: #9CC3D5FF;
			color:#0063B2FF; */
			/* padding:25px;
			border-radius: 30px; */
			text-align: center;
			/* margin:50px 70px 0 70px; */
		}
		.para{
			/* background-color:#0063B2FF; */
			color:black;
			padding: 50px 45px;
			margin: 10px 70px 12px 70px;
			font-size: 23px;	
			border-radius: 15px;	
		}
	</style>
</head>
<body>
<div class="container">
<div class="para">
<h1>About Us</h1>
<p>After a long day,escaping reality for a couple of hours,having a good laugh,spending time with friends,and the list goes on and on.The genre differentiates the audience;some love action, others root for rom-com,teens want drama and all that jazz.choices are never-ending.However,it is important to note that there's something for everyone.<br><br>
One platform that unites all these fun categories is <b><i>FUN FRENZY</i></b>,A platform that offers a plethora of options when it comes to booking tickets.Storytelling,Singing,Dancing,Pop-Stars,Standup comedy,Ted Talks,Puppet-Show,Poetry and everything else you can imagine-->FUN FRENZY has it all covered.</p>
</div>
</div>
</body>
</html>




