
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="arform.css">
</head>
<body>
  <div class="box">

<h2>Commitment Form</h2>

<form action="/ccomitform" method="post" class="box1">
 <div class="container">
    <label for="uname2"><b>Username&nbsp;:&nbsp;&nbsp;&nbsp;</b></label><br>
    <input type="text" placeholder="Enter Username" name="uname2" required><br>
    <label for="uname2"><b>Title&nbsp;:&nbsp;&nbsp;&nbsp;</b></label><br>
    <input type="text" placeholder="Enter Username" name="title" required><br>
    <label for="date2"><b>Date&nbsp;:&nbsp;&nbsp;</b></label><br>
    <input type="date" style="padding:15px;padding-top:0px;" placeholder="Enter Commitment Date" name="date2" required><br>
    <label for="place2"><b>Place&nbsp;:&nbsp;</b></label><br>
    <input type="text" placeholder="Enter Commitment Place and Address" name="place2" required><br>
    <label for="link2"><b>Booking Link&nbsp;</b></label><br>
    <input type="link" placeholder="Enter Booking Link" name="link2" required><br>
    <div class="btn">
    <button type="submit">Post</button></div></a>
  </div>
  <!-- <div class="container" style="background-color:#f1f1f1"> -->
</form>
</div>
</body>
</html>
