<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="arform.css">
</head>
<body>
  <div class="box">

<h2>Contact Artist</h2>

<form action="/scontactartform" method="get" class="box1">
 <div class="container">
    <label for="name"><b>Name&nbsp;:&nbsp;&nbsp;&nbsp;</b></label><br>
    <input type="text" placeholder="Enter Username" name="name" required><br>
    <label for="E-mail"><b>E-mail&nbsp;:&nbsp;&nbsp;&nbsp;</b></label><br>
    <input type="E-mail" placeholder="Enter E-mail" name="mail" required><br>
    <label for="date"><b>Date&nbsp;&nbsp;&nbsp;</b></label><br>
    <input type="date" style="padding:20px;padding-top:3px;" ="Enter Commitment Date" name="date" required><br>
    <label for="event1"><b>Event for&nbsp;&nbsp;</b></label><br>
    <input type="text" placeholder="Enter Event details" name="event1" required><br>
    <label for="event2"><b>Event Place&nbsp;</b></label><br>
    <input type="text" placeholder="Enter Event place" name="event2" required><br>
    <div class="btn">
    <button type="submit">Post</button></div></a>
    <br>
  </div>
  <!-- <div class="container" style="background-color:#f1f1f1"> -->
</form>
</div>
</body>
</html>