<html>
    <head>
	    <title>LANDING PAGE DESIGN</title>
	    <link rel="stylesheet" href="lp.css">
	</head>
	<body>
		<div id="container">
			<div id="r">
				<nav id="navbar">
					<h1>FunFrenzy</h1>
					<ul>
						<li><a href="/signup"><button name="signup" type="submit" class="btn">SIGN UP</button></a></li>
						<li><a href="/signupar"><button name="signupar" type="submit" class="btn">ARTIST SIGN UP</button></a></li>
						<li><a href="/login1"><button name="login1" type="submit" class="btn">LOGIN</button></a></li>
					</ul>
				</nav>
				<div id="content">

					<h1>Experience the magic of live </h1><br>
					<p>Come for the Talent, Stay for the Experience</p>

				
				</div>
			</div>
		</div>	
	</body>
</html>