<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="login1.css">
</head>
<body>
  <div class="box">

<h2>Login Form</h2>

<form action="/page1" method="post" class="box1">
  <div class="imgcontainer">
    <img src="/avatar.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="luname"><b>Username&nbsp;:&nbsp;&nbsp;&nbsp;</b></label>
    <input type="text" placeholder="Enter Username" name="luname" required><br>

    <label for="lpsw"><b>Password&nbsp;:&nbsp;&nbsp;&nbsp;</b></label>
    <input type="password" placeholder="Enter Password" name="lpsw" required><br><br>
    <label for="rr"><b>Select&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
    <input type="radio" id="r1" name="usertype" value="artist">
    <label for="r1">Artist</label>
    <input type="radio" id="r2" name="usertype" value="audience">
    <label for="r2">Audience</label><br><br>
        <div class="btn">
    <button type="submit">Login</button><br></div></a>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <span class="psw"><a href="#">Forgot password ?&nbsp;</a></span>
    
  </div>

  <!-- <div class="container" style="background-color:#f1f1f1"> -->
    
  <br>
  <br>
</form>
</div>
</body>
</html>
