<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="signup.css">


</head>
<body>
  <div class="box">

<h2>SignUp Form</h2>

<form action="/ssignup" method="post" class="box1">
  <div class="imgcontainer">
    <img src="/avatar.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="u1name"><b>Name&nbsp;:&nbsp;&nbsp;&nbsp;</b></label>
    <input type="text" placeholder="Enter name" name="u1name" required><br>

    <label for="mail1"><b>E-mail&nbsp;:&nbsp;&nbsp;&nbsp;</b></label>
    <input type="email" placeholder="Enter e-mail" name="mail1" required><br>

    <label for="psw1"><b>Password&nbsp;:&nbsp;&nbsp;&nbsp;</b></label>
    <input type="password" placeholder="Enter Password" name="psw1" required><br>

    <label for="cpsw1"><b>Confirm Password&nbsp;:&nbsp;&nbsp;&nbsp;</b></label>
    <input type="password" placeholder="Enter Same Password" name="cpsw1" required><br><br>

    <!-- <label for="rr"><b>Select&nbsp;:&nbsp;&nbsp;&nbsp;</b></label> -->
    <!-- <input type="radio" id="r1" name="usertype" value="artist">
    <label for="r1">Artist</label>
    <input type="radio" id="r2" name="usertype" value="audience">
    <label for="r2">Audience</label><br><br> -->

        <div class="btn">
    <button type="submit">Submit</button><br></div>
  </div>
</form>
</div>
<script src="index.js"></script>
</body>
</html>
