<!DOCTYPE html>
<head>
    <title>Successful Signupar</title>
    <style>
        .container{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border:5px solid black;
            margin:20%;
        }
        .bt1{
            background-color:#195190FF; 
            color:white;
            border-radius: 10px;
            padding: 7px;
            cursor:pointer;
        }
    </style>
</head>
<body>
    <div class="container">
    <h3>Kudos!!! You have successfully signed up!!!</h3>
    <div><p><a href="landing_page">
        <button name="login" type="submit" class="bt1"> landing page </button></a></p>
    </div>
</div>
</body>
</html>