body {
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  h2{
    color:black;
  }
  form {border: 3px solid #f1f1f1;}
  
  input[type=text][type=link][type=date], input[type=password] {
    width: 50%;
    padding: 15px 15px;
    margin: 8px 0;
    color: white;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    background-color:lightblue;
    color:black;
    padding: 14px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 20%;
    text-decoration: none;
    font-size: 15px;
  }
  
  button:hover {
    opacity: 0.8;
    cursor:pointer;
  }
  .box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
  }
  .box1{
    background-color: #195190FF;
  }
  .container {
    display:flex;
    flex-direction: column;
    /* align-items:center; */
    justify-content: center;
    padding: 15px;
    padding-top: 30px;
    width:60vw;
    height:80vh;
    color: white;
    border: solid rgb(1, 61, 114) 5px;
    box-shadow: aliceblue;
  }
  .psw a{
    color:white;
    text-decoration: none;
    float: right;
  }
  
  /*span.psw {
    
    padding-top: 16px;
  }*/
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }